/* Created by: Ben Thomson
* Created on: 04/21/2023
* This CSS file defines the style for index.html
* ICS2O-Assign-04-HTML-IceCreamOrder
*/

body {
  background-color: rgb(144 224 239);
  font-weight: 900;
  color: navy;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: hsl(190deg 74% 59%);
  padding: 40px;
  text-align: center;
}

form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  background-color: #00b4d8;
  padding: 20px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  background-color: #00b4d8;
  padding: 20px;
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}

div {
  background-color: #00b4d8;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}
